NEXT_PUBLIC_SITE_URL=https://candy-match-alpha.vercel.app
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BASE_APP_ID=
NEXT_PUBLIC_BUILDER_CODE=bc_qdkpgxlt
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0x3d4264C9d1A04626Ef4B152c5b3edDe28c54DC45
